# various
*~
.DS_Store
*.log

# compilation artifacts
*.o
*.ppu
*.exe
*.dll
*.res
*.app
castle-model-viewer
castle-model-converter
code/*.or
code/*.compiled
castle-engine-output
backup/

# delphi artifacts
*.local
*.identcache
*.rsm
*.dcu
*.delphilsp.json
__history
__recovery

# lazarus artifacts
backup

# secret files
AndroidSigningProperties.txt