# ----------------------------------------------------------------------------
# GitHub Actions workflow to build and package this project
# using Castle Game Engine.
#
# Details:
#
# - Builds and packages: creates release packages (zip,tar.gz)
#   for all platforms we support.
#
# - Tests compilation in some ways we don't need for releasing,
#   but still we support (in case devs want to build this application in these
#   ways): Delphi, Lazarus using lazbuild (not using CGE build tool + FPC).
#
# - Uploads the release packages as GitHub release of "snapshot" tag,
#   https://github.com/castle-engine/castle-model-viewer/releases/tag/snapshot
#
# - Updates the "snapshot" tag to point to the build commit.
# ----------------------------------------------------------------------------

name: Build

on:
  push:
  pull_request:
  repository_dispatch:
    types: [cge-docker-unstable-changed]

env:
  # To which GitHub release tag should we upload artifacts.
  # Can be "snapshot" or "vX.Y.Z" (latter when we make stable release).
  release_tag: snapshot
  #release_tag: vX.Y.Z

defaults:
  run:
    shell: bash

jobs:
  build_docker:
    name: Build From Docker
    runs-on: ubuntu-latest
    container: kambi/castle-engine-cloud-builds-tools:cge-unstable
    steps:
      - uses: actions/checkout@v6

      # Package application:
      # - castle-model-converter first, it will be packaged in castle-model-viewer CastleEngineManifest.xml
      # - then build and package castle-model-viewer
      - name: Package Windows / x86_64
        run: |
          castle-engine compile --os=win64 --cpu=x86_64 --manifest-name=CastleEngineManifest.converter.xml
          castle-engine package --os=win64 --cpu=x86_64
      - name: Package Windows / i386
        run: |
          # We need "make clean" to be sure to remove previous build artifacts, e.g. castle-model-converter.exe
          make clean
          castle-engine compile --os=win32 --cpu=i386 --manifest-name=CastleEngineManifest.converter.xml
          castle-engine package --os=win32 --cpu=i386
      - name: Package Linux / x86_64
        run: |
          # We need "make clean" to be sure to remove previous build artifacts, e.g. castle-model-converter.exe
          make clean
          castle-engine compile --os=linux --cpu=x86_64 --manifest-name=CastleEngineManifest.converter.xml
          castle-engine package --os=linux --cpu=x86_64
      - name: Archive Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: windows-linux-builds
          path: |
            *.zip
            *.tar.gz
          #if-no-files-found: error

  build_runner_native:
    name: Build on Native Runner (target OS/CPU = source OS/CPU)
    strategy:
      matrix:
        runner: [
          macos-latest,
          macos-15-intel # last macOS with Intel
        ]
        include:
        - runner: macos-latest
          is_macos: true
          build_os: darwin
          build_cpu: aarch64
        - runner: macos-15-intel
          is_macos: true
          build_os: darwin
          build_cpu: x86_64
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v6

      # Use https://github.com/castle-engine/castle-build-ci to get FPC and CGE
      - name: Setup Castle Game Engine
        run: |
          cd /tmp/ # temporary directory, to be separate from the current project files
          git clone https://github.com/castle-engine/castle-build-ci.git \
            --depth=1 --single-branch --branch=master
          castle-build-ci/install_dependencies
          castle-build-ci/setup_castle_engine

      # Package application
      - name: Package (non macOS)
        if: ${{ ! matrix.is_macos }}
        run: |
          castle-engine compile --manifest-name=CastleEngineManifest.converter.xml
          castle-engine package

      - name: Build (macOS)
        if: ${{ matrix.is_macos }}
        # Special order for macOS:
        # - First compile and package castle-model-viewer, it will be a bundle.
        # - Add 2nd exe "castle-model-converter" to the bundle.
        # - zip it manually (after signing).
        run: |
          castle-engine compile --manifest-name=CastleEngineManifest.converter.xml
          castle-engine package --package-format=mac-app-bundle
          cp castle-model-converter castle-model-viewer.app/Contents/MacOS/

      # Follow https://docs.github.com/en/actions/how-tos/deploy/deploy-to-third-party-platforms/sign-xcode-applications
      # to sign macOS application
      - name: Install the Apple certificate and provisioning profiles (macOS)
        if: ${{ matrix.is_macos }}
        env:
          BUILD_CERTIFICATE_BASE64: ${{ secrets.APPLE_BUILD_CERTIFICATE_BASE64 }}
          P12_PASSWORD: ${{ secrets.APPLE_P12_PASSWORD }}
          # provisioning (only for mobile targets, not for macOS)
          #BUILD_PROVISION_PROFILE_BASE64: ${{ secrets.APPLE_BUILD_PROVISION_PROFILE_BASE64 }}
          KEYCHAIN_PASSWORD: ${{ secrets.APPLE_KEYCHAIN_PASSWORD }}
        run: |
          # create variables
          CERTIFICATE_PATH=$RUNNER_TEMP/build_certificate.p12
          KEYCHAIN_PATH=$RUNNER_TEMP/app-signing.keychain-db
          # provisioning (only for mobile targets, not for macOS)
          #PP_PATH=$RUNNER_TEMP/build_pp.mobileprovision

          # import certificate and provisioning profile from secrets
          echo -n "$BUILD_CERTIFICATE_BASE64" | base64 --decode -o $CERTIFICATE_PATH
          # provisioning (only for mobile targets, not for macOS)
          #echo -n "$BUILD_PROVISION_PROFILE_BASE64" | base64 --decode -o $PP_PATH

          # create temporary keychain
          security create-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH
          security set-keychain-settings -lut 21600 $KEYCHAIN_PATH
          security unlock-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH

          # import certificate to keychain
          security import $CERTIFICATE_PATH -P "$P12_PASSWORD" -A -t cert -f pkcs12 -k $KEYCHAIN_PATH
          security set-key-partition-list -S apple-tool:,apple: -k "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH
          security list-keychain -d user -s $KEYCHAIN_PATH

          # apply provisioning profile (only for mobile targets, not for macOS)
          #mkdir -p ~/Library/MobileDevice/Provisioning\ Profiles
          #cp $PP_PATH ~/Library/MobileDevice/Provisioning\ Profiles

      # Sign the app bundle, following
      # https://developer.apple.com/documentation/xcode/creating-distribution-signed-code-for-the-mac
      - name: Sign (macOS)
        if: ${{ matrix.is_macos }}
        env:
          APPLE_IDENTITY: ${{ vars.APPLE_IDENTITY }}
        run: |
          security find-identity -p codesigning -v
          codesign -s "$APPLE_IDENTITY" --timestamp -o runtime "castle-model-viewer.app/Contents/MacOS/castle-model-converter"
          # command below should sign the main executable
          codesign -s "$APPLE_IDENTITY" --timestamp -o runtime "castle-model-viewer.app"
          codesign -d -vv "castle-model-viewer.app"
          codesign -d -vv "castle-model-viewer.app/Contents/MacOS/castle-model-converter"
          codesign -d -vv "castle-model-viewer.app/Contents/MacOS/castle-model-viewer"

      # Notarize it, following
      # https://developer.apple.com/documentation/security/customizing-the-notarization-workflow?language=objc
      #
      # Note that Apple notarization process is seriously FUBAR.
      # We need to create a zip with app bundle (because "notarytool submit"
      # wants zip, not app bundle),
      # but then we need to "staple" the app bundle (*not* zip),
      # so only later we can make proper release zip.
      # Their docs explicitly confirm that this brain-damaged approach
      # is the only way, everyone needs to zip twice...
      - name: Notarize (macOS)
        if: ${{ matrix.is_macos }}
        env:
          APPLE_ID: ${{ vars.APPLE_ID }}
          APPLE_APP_PASSWORD: ${{ secrets.APPLE_APP_PASSWORD }}
          APPLE_TEAM_ID: ${{ vars.APPLE_TEAM_ID }}
        run: |
          # create temporary zip for notarization submission
          zip -r castle-model-viewer-notarize.zip castle-model-viewer.app/
          xcrun notarytool submit castle-model-viewer-notarize.zip \
            --apple-id "$APPLE_ID" \
            --password "$APPLE_APP_PASSWORD" \
            --team-id "$APPLE_TEAM_ID" \
            --wait
          xcrun stapler staple castle-model-viewer.app/
          rm -f castle-model-viewer-notarize.zip

      - name: Package To Zip (macOS)
        if: ${{ matrix.is_macos }}
        run: |
          VERSION=`castle-engine output version`
          ZIPNAME=castle-model-viewer-"${VERSION}"-${{ matrix.build_os }}-${{ matrix.build_cpu }}.zip
          zip -r "${ZIPNAME}" castle-model-viewer.app/
          echo "Packed to ${ZIPNAME}"

      - name: Archive Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.runner }}-build
          path: |
            *.zip
            *.tar.gz
          if-no-files-found: error

  build_arm_runner:
    name: Build on ARM Runner (for Raspberry Pi)
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [raspberry-pi-32, raspberry-pi-64]
        include:
        # Raspberry Pi 32-bit (Arm)
        - arch: raspberry-pi-32
          cpu: cortex-a7
          base_image: raspios_lite:latest
        # Raspberry Pi 64-bit (Aarch64)
        - arch: raspberry-pi-64
          cpu: cortex-a53
          base_image: raspios_lite_arm64:latest
    steps:
      - uses: actions/checkout@v6
      - uses: pguyot/arm-runner-action@v2
        with:
          base_image: ${{ matrix.base_image }}
          cpu: ${{ matrix.cpu }}
          shell: /bin/bash -eo pipefail
          image_additional_mb: 6000
          # Avoids the need for copy_artifact_path later.
          bind_mount_repository: true
          commands: |
            # Useful string to grep logs, because log of script execution is somewhat buried in the middle of pguyot/arm-runner-action log
            echo 'CGE script starts here'

            # Install Linux dependencies
            sudo apt-get update
            sudo apt-get --no-install-recommends -y install libgl-dev git make unzip sed zip

            # Install FPC and CGE
            pushd /tmp/
            git clone https://github.com/castle-engine/castle-build-ci.git \
              --depth=1 --single-branch --branch=master
            castle-build-ci/install_dependencies
            castle-build-ci/setup_castle_engine
            source setup_castle_engine_env.sh
            popd

            # Check versions (and availability) of our requirements early
            fpc -iV
            make --version
            sed --version

            # Package application
            castle-engine compile --manifest-name=CastleEngineManifest.converter.xml
            castle-engine package

      - name: Archive Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: raspberry-pi-${{ matrix.arch }}-build
          path: |
            *.zip
            *.tar.gz
          if-no-files-found: error

  # Build also with Delphi, just to make sure it goes OK.
  # We don't build releases with Delphi, but wemake sure that if someone downloads
  # sources -- they can build with Delphi as well as with FPC.
  build_delphi:
    name: Build Using Delphi
    strategy:
      matrix:
        host-label: [
          delphi_10_2,
          delphi_12_2
        ]
    runs-on: ${{ matrix.host-label }}
    steps:
      - uses: actions/checkout@v6
        with:
          # Use subdirectory, to not collide with castle-build-ci
          # in subdirectory too.
          # Usually we just put castle-build-ci in /tmp/, but this is not
          # ephemeral runner.
          path: app

      # Use https://github.com/castle-engine/castle-build-ci to get FPC and CGE.
      #
      # See https://yaml-multiline.info/ why we write multi-line like this.
      # Because of Windows CRLF and bash expecting LF, we cannot just use regular
      # multi-line string.
      # We use > and && to concatenate commands.
      # We also use - to chomp final CRLF which would also trip bash.
      #
      # Note that we don't execute castle-build-ci/install_dependencies ,
      # this is self-hosted runner ->
      # 1. no permissions for castle-build-ci/install_dependencies ,
      # 2. and the dependencies should be already there.
      #
      # Also, because this is not ephemeral runner and workspace may
      # contain leftovers from previous run, we do cleanup at start
      # by "rm -Rf castle-build-ci/".
      - name: Setup Castle Game Engine
        run: >-
          rm -Rf castle-build-ci/ &&
          git clone https://github.com/castle-engine/castle-build-ci.git --depth=1 --single-branch --branch=master &&
          castle-build-ci/setup_castle_engine

      - name: Delphi Build (Win32)
        run: cd app && castle-engine compile --compiler=delphi --os=win32 --cpu=i386
      - name: Delphi Build (Win64)
        run: cd app && castle-engine compile --compiler=delphi --os=win64 --cpu=x86_64

  # Build using Lazarus LPI, just to test it is OK.
  # We don't actually release such version -- you don't need Lazarus
  # (only compiler, like FPC or Delphi) to build CGE applications.
  test_lazarus:
    name: Test Lazarus Compilation
    strategy:
      matrix:
        runner: [
          ubuntu-latest,
          windows-latest,
          macos-15-intel,
          macos-latest
        ]
    runs-on: ${{ matrix.runner }}
    steps:
    - uses: actions/checkout@v6
    - name: Setup Castle Game Engine
      run: |
        cd /tmp/ # temporary directory, to be separate from the current project files
        git clone https://github.com/castle-engine/castle-build-ci.git \
          --depth=1 --single-branch --branch=master
        castle-build-ci/install_dependencies
        castle-build-ci/setup_castle_engine --install-lazarus=true
    - name: Build engine packages using Lazarus
      run: |
        lazbuild $CASTLE_ENGINE_PATH/packages/lazarus/castle_engine_base.lpk
        lazbuild $CASTLE_ENGINE_PATH/packages/lazarus/castle_engine_window.lpk
    - name: Build using Lazarus
      run: lazbuild castle_model_viewer.lpi

  release:
    name: Release
    runs-on: ubuntu-latest

    # Only upload release if all builds, on all runners, succeeded.
    #
    # Note that build_delphi is not strictly necessary as dependency here
    # (since it doesn't make any artifacts, it's just a test that compilation
    # goes OK) but we still want failure there to cause workflow failure,
    # so that we have to fix it.
    needs: [build_docker, build_runner_native, build_arm_runner, build_delphi]

    steps:
    - name: Download packaged releases
      uses: actions/download-artifact@v7
      with:
        merge-multiple: true
    - name: List downloaded files
      run: ls -R
    - name: GH CLI status
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: gh auth status
    # Releases files in the GitHub release.
    - name: Release Artifacts
      if: ${{ github.ref == 'refs/heads/master' }}
      run: gh release --repo ${{ github.repository }} upload ${{ env.release_tag }} --clobber *.zip *.tar.gz
      env:
        GH_TOKEN: ${{ github.token }}

  update-release-tag:
    name: Update Release Tag (make release tag point to the build commit on master branch)
    runs-on: ubuntu-latest
    needs: [release]
    steps:
    - uses: actions/checkout@v6
    - name: Update Release Tag
      if: ${{ github.ref == 'refs/heads/master' }}
      run: |
        # --force allows to overwrite previous tag
        git tag --force ${{ env.release_tag }}
        # --force allows to push with overwritten tag
        git push --force origin ${{ env.release_tag }}
